
      #map {
        height: 250px;
        width: 100%;
       }

#seccionCinco{
  display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

#modal-container{
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
   position: fixed; 
  left: 0;
  right: 0;
  top: 100px;
  background:  white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,.4);

  }

  #modal-container h3{
    text-align: center;
  }

  .floating-box {
    display: inline-block;
    width: 200px;
    /* height: 75px; */
    margin: 10px 30px 10px 10px;
    /* border: 3px solid #73AD21;   */
}

  .Modal-close {
    width: 50px;
    height: 50px;
    position: absolute;
    right: -25px;
    top: -25px;
    border-radius: 50%;
    border: none;
    background: #171c30;
    color: white;
    cursor: pointer;
  }
   .Modal-close:hover {
    background: #363942;
    
   }
  
  .Modal-close:after {
    content: "X";
    font-weight: bold;
    font-size: 30px;
  }

/* Sweet alerts */
  .swal-footer {
    background-color: rgb(245, 248, 250);
    margin-top: 32px;
    border-top: 1px solid #E9EEF1;
    overflow: hidden;
  }
  

  .swal-button {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: #01bf86;
    font-size: 12px;
    border: 1px solid #0cf7b0;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  }

  span {
    cursor:pointer;
    color:blue;
    text-decoration:underline;
}

span:hover {
  text-decoration:none;
  color: #697f97
}